#__text0, #__text5   {
	margin-top: 50px;
	margin-bottom: 20px;
	margin-left: 5%;
	font-size: 18px;
	font-family: Arial,Helvetica,sans-serif;
	font-weight: normal;
	color: #333333;	
}

#__text1, #__text2, #__text3, #__text4 {
	margin-top: 20px;
	margin-bottom: 20px;
	margin-left: 5%;
	font-size: 18px;
	font-family: Arial,Helvetica,sans-serif;
	font-weight: normal;
	color: #333333;	
}

#__box9, #__box18 {
	margin-right: 9%;
	margin-top: 3%;
}

#__box19, #__box20, #__box21, #__box22, #__box23, #__box24, #__box25, #__box26, 
#__box27, #__box28, #__box29, #__box30, #__box31, #__box32 {
	margin-left: 12%;
}

#__box45 {
	background: aliceblue;
}

#oLoginButton {
	margin-top: 20%;
}

#tiles{
	position: absolute;
	bottom: 3rem;	
	width: 100%;
}

.tile-col{
	padding: 10px;
	width: 320px;
	float: left;
	height: 320px;
}
	
.live-tile{
	left: 0px;
	margin: 5px;
}

#tile-div-1-1{	
	background-color: rgba(5,127,104,1);
	width: 150px;
	height: 150px;
	top: 0px;
	left: 0px
}
#tile-div-1-2{	
	background-color: rgba(38,117,166,1);	
	width: 150px;
	height: 150px;
	top: 0px;
	right: 0px;
}
#tile-div-1-3{	
	background-color: rgba(22,116,127,1);
	height: 150px;	
	width: 310px;
	bottom: 0px;
	left: 0px;
}
#tile-div-2-1{	
	background-color: rgba(20,84,140,1);
	width: 150px;
	height: 150px;
	top: 0px;
	left: 0px
}
#tile-div-2-2{	
	background-color: rgba(80,160,191,1);	
	width: 150px;
	height: 150px;
	bottom: 160px;
	left: 0px;
}
#tile-div-2-3{	
	background-color: rgba(178,232,252,1);
	height: 310px;	
	width: 150px;
	bottom: 0px;
	right: 0px;
}
#tile-div-3-1{	
	height: 310px;
	width: 310px;
}
#tile-div-1-1-number-Of-Orders{background-color: rgba(7,37,64,1);}
#tile-div-1-3-aircraft-weight{background-color: rgba(69,148,133,1);}
#tile-div-1-3-aircraft-cms2{background-color: rgba(22,116,127,1);}
#tile-div-1-3-aircraft-cms3{background-color: rgba(8,203,166,1);}


#tile-div-3-aircraft-cycles{background-color: rgba(5,127,104,1);}
#tile-div-3-aircraft-hours{background-color: rgba(181,203,199,1);}
#tile-div-3-engine-cycles{background-color: rgba(8,203,166,1);}
#tile-div-3-rotor-hours{background-color: rgba(69,148,133,1);}
#tile-div-3-sling-cycles{background-color: rgba(8,203,167,1);}
#tile-div-3-wynch-cycles{background-color: rgba(22,116,127,1);}
.sapSuiteUiCommonsNCScale.Neutral, .sapSuiteUiCommonsNCValueScr.L{
	color: white;
}
.sapSuiteUiCommonsNCIconImage{
	padding-left: 5px;
	padding-bottom: 5px;
	color: white;
}
#initDetails--numberOfNotifications-value-scr, #initDetails--numberOfOrders-value-scr {
width: 50px;
}
.sapSuiteUiCommonsNC{
	top: 20px;
	left: 10px;	
}
.v-background-border.viz-plot-background-border {visibility: hidden;}


.sapVizChart .v-label{
	fill: #FFFFFF;
}
.sapVizChart .v-categoryaxisline {
	opacity: 0;
}

.sapVizChart .v-valueaxisline {
	opacity: 0;
}

.live-tile .tile-title, .list-tile .tile-title, .copy-tile .tile-title{
	font-size: 15px;
	left: 3px;
	bottom: 1px;
}
.sapSuiteUiCommonsNCIconImage.L {
	margin-top: -0.3rem;
}
#initDetails--immatriculationNo {
	font-size: 2.4rem;
	margin: 5px;
	margin-top: 50px;
	color: white;
}
#initDetails--heliApplication,#initDetails--planningInformation,#initDetails--objectInformation {
	font-size: 1.8rem;
	margin: 5px;
	margin-top: 20px;
	color: white;
	white-space: normal;
}
.sapMListBGTransparent .sapMLIB {
	border-bottom: none;
}

#videoContainer {
	position: absolute;
	bottom: 10%;
	right: 5%;
	width: 35%;
	height: 30%;
}

video {
	width: 100% !important;
	height: 100% !important;
}

#flBusy, #eqBusy {
	position: absolute;
	bottom: 50%;
	left: 48%;
}

.equipListElement.sapMLIB.sapMLIB-CTX.sapMLIBCursor.sapMLIBShowSeparator.sapMLIBTypeInactive.sapMSLI.sapMSLIDescIcon.sapMSLIIcon .sapMLIBContent.sapMLIBContentMargin .sapMSLIImgIcon {
	position: absolute;
	right: 0px;
}