
/* ============================================= */
/* CSS for control sap.suite.ui.commons/JamContent.control */
/* ============================================= */

.sapSuiteUiCommonsJC {
	display: inline-block;
	outline: none;
}

.sapUiMedia-Std-Desktop .sapSuiteUiCommonsJC.Auto,
.sapUiMedia-Std-Tablet .sapSuiteUiCommonsJC.Auto,
.sapSuiteUiCommonsJC.L, .sapSuiteUiCommonsJC.M {
	width: 22.5rem;
	height: 4.5rem;
}

.sapUiMedia-Std-Phone .sapSuiteUiCommonsJC.Auto,
.sapSuiteUiCommonsJC.S, .sapSuiteUiCommonsJC.XS {
	width: 18rem;
	height: 3.5rem;
}

.sapSuiteUiCommonsJCCTxt {
  	overflow: hidden;
  	text-overflow: ellipsis;
  	white-space: nowrap;
  	font-family: Arial, Helvetica, sans-serif;
  	font-weight: normal;
  	color: @sapUiDarkText;
  	padding: 0.125rem 0;
  	max-width: 22.5rem;
}

.sapUiMedia-Std-Desktop .sapSuiteUiCommonsJCCTxt.Auto,
.sapUiMedia-Std-Tablet .sapSuiteUiCommonsJCCTxt.Auto,
.sapSuiteUiCommonsJCCTxt.L, .sapSuiteUiCommonsJCCTxt.M {
	height: 3.12rem;
}

.sapUiMedia-Std-Phone .sapSuiteUiCommonsJCCTxt.Auto,
.sapSuiteUiCommonsJCCTxt.S, .sapSuiteUiCommonsJCCTxt.XS {
	height: 2.41rem;
}

.sapSuiteUiCommonsJCSbh {
  	height: 1rem;
  	overflow: hidden;
  	text-overflow: ellipsis;
  	white-space: nowrap;
  	font-family: @sapUiFontFamily;
  	font-weight: normal;
  	color: @sapUiLightText;
  	padding: 0.125rem 0;
  	max-width: 22.5rem;
}

.sapUiMedia-Std-Desktop .sapSuiteUiCommonsJCSbh.Auto,
.sapUiMedia-Std-Tablet .sapSuiteUiCommonsJCSbh.Auto,
.sapSuiteUiCommonsJCSbh.L, .sapSuiteUiCommonsJCSbh.M {
	height: 1rem;
}

.sapUiMedia-Std-Phone .sapSuiteUiCommonsJCSbh.Auto,
.sapSuiteUiCommonsJCSbh.S, .sapSuiteUiCommonsJCSbh.XS {
	height: 0.78rem;
}

.sapSuiteUiCommonsJCValue {
	position: relative;
  	float: right;
  	overflow: hidden;
  	text-overflow: ellipsis;
}

.sapUiMedia-Std-Desktop .sapSuiteUiCommonsJCValue.Auto,
.sapUiMedia-Std-Tablet .sapSuiteUiCommonsJCValue.Auto,
.sapSuiteUiCommonsJCValue.L, .sapSuiteUiCommonsJCValue.M {
  	padding-top: 1rem;
	font-size: 48px;
  	height: 3.6rem;
  	max-width: 22.5rem;
}

.sapUiMedia-Std-Phone .sapSuiteUiCommonsJCValue.Auto,
.sapSuiteUiCommonsJCValue.S, .sapSuiteUiCommonsJCValue.XS {
  	padding-top: 1.3rem;
	font-size: 32px;
  	height: 2.45rem;
  	max-width: 18rem;
}
.sapSuiteUiCommonsJCCTxt>.sapMText {
	cursor:inherit;
}