/*!
 * SAP UI development toolkit for HTML5 (SAPUI5)
 *
 * (c) Copyright 2009-2014 SAP SE. All rights reserved
 */
/* Global CSS for 'base' theme */
/* ---------------------------------------------------------------------------------------- */
/* TMP during LESS convertion ---- to be deleted */
/* may be required by SubstitutionRulesManager.css in inbox lib */
/* ---------------------------------------------------------------------------------------- */
/** 
  * This parameter is used in the Shell control to calculate the size when it grows.
  * !!! ONLY PX-VALUES ARE ALLOWED HERE. 
  */
/** 
  * This parameter is used in the Shell control to calculate the size of the margin when showing
  * an overflow button in the right pane. As of 1.18.0 this value contains the _maximum_ height
  * of the overflow button, if the text inside the button is smaller, the button shrinks with it.
  * !!! ONLY PX-VALUES ARE ALLOWED HERE.
  */
/* Approved by UX to use a hard coded color value for this */
/* NotificationBar */
/* The maximized height will be calculated corresponding to the window's height.*/
/* ToolPopup */
/* Telling the ToolPopup if it's inverted per default */
/* transparent; */
/*
Parameter which stored a long css setting string for cvom's chart's internal use.
*/
.sapVizChart .v-m-title .v-title {
  fill: #000000;
  font-family: Arial, Helvetica, sans-serif;
}
.sapVizChart .v-subtitle {
  fill: #000000;
  font-family: Arial, Helvetica, sans-serif;
}
.sapVizChart .v-title {
  fill: #000000;
  font-family: Arial, Helvetica, sans-serif;
}
.sapVizChart .v-hidden-title {
  fill: #a6a6a6;
}
.sapVizChart .v-pie .v-donut-title {
  fill: #000000;
  font-family: Arial, Helvetica, sans-serif;
}
.sapVizChart .v-m-tooltip .v-body-title {
  fill: #000000;
  font-family: Arial, Helvetica, sans-serif;
}
.sapVizChart .v-label {
  fill: #000000;
  font-family: Arial, Helvetica, sans-serif;
}
.sapVizChart .viz-polar-axis-label {
  fill: #000000;
  font-family: Arial, Helvetica, sans-serif;
}
.sapVizChart .v-datalabel {
  fill: #000000;
  font-family: Arial, Helvetica, sans-serif;
}
.sapVizChart .v-m-tooltip .v-body-label {
  fill: #000000;
  font-family: Arial, Helvetica, sans-serif;
}
.sapVizChart .v-m-tooltip .v-body-value {
  fill: #000000;
  font-family: Arial, Helvetica, sans-serif;
}
.sapVizChart .v-m-tooltip .v-footer-label {
  fill: #000000;
  font-family: Arial, Helvetica, sans-serif;
}
.sapVizChart .v-m-tooltip .v-footer-value {
  fill: #000000;
  font-family: Arial, Helvetica, sans-serif;
}
.sapVizChart .v-m-tooltip .v-separationline {
  stroke: #d8d8d8;
}
.sapVizChart .v-background-body {
  fill: #ffffff;
}
.sapVizChart .v-background-border {
  stroke: #d8d8d8;
}
.sapVizChart .v-hoverline {
  stroke: #cccccc;
}
.sapVizChart .v-hovershadow {
  fill: #cccccc;
}
.sapVizChart .v-hovershadow-mousedown {
  fill: #808080;
}
.sapVizChart .v-m-tooltip .v-background {
  fill: #ffffff;
  stroke: #d8d8d8;
}
.sapVizChart .v-m-tooltip .v-closeButton {
  background-color: #ffffff !important;
  border-color: #d8d8d8 !important;
}
.sapVizChart .v-background {
  border-color: #d8d8d8 !important;
}
.sapVizChart .v-innerwhisker {
  stroke: #000000;
}
.sapVizChart .v-categoryaxisline {
  stroke: #000000;
}
.sapVizChart .v-valueaxisline {
  stroke: #000000;
}
.sapVizChart .v-gridline {
  stroke: #d8d8d8;
}
.sapVizChart .sapVizChart {
  position: relative;
}
.sapVizChart .sapVizChart.sapVizNoData {
  /*background-color: @sapUiLightBG;*/
  border: 1px solid #d3d3d3;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}
.sapVizChart .sapVizChart.sapVizNoData > .sapVizNoDataDefault {
  position: absolute;
  display: block;
  bottom: 50%;
  right: 0;
  left: 0;
  text-align: center;
  white-space: nowrap;
}